.cameraL {
    width: 45%;
    float: left;
}

.cameraM {
    width: 10%;
    float: left;
}

.cameraR {
    width: 45%;
    float: right;
}

.specs {
    list-style-type:none;
    color: #fff;
    text-align: left;
    font-size: 1.2rem;
}


.cameracontainer {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    height:auto;
    min-height:30px;
}

hcar {
    height: 487px !important;
}

#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 1.2rem;
}

.page-section{
    padding: 2rem;
}

.current {
    display:flex;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    padding: 6%;
}

.second{
    padding-top: 15%;
    padding-bottom: 15.5%;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .current {
        display: block;
    }

    .second {
        margin-left: 0%;
        margin-top: 2%;
    }

    .hidden {
        display: block;
    }

    .masthead {
        padding-top: 4rem;
    }
}

.bg-primary {
    background-color: #E3655B !important;
}

a:hover{
    color: #E3655B !important;
}

.firstDivider{
    background-color: #E3655B !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }