.camera {
    width: 30%;
    float: left;
    vertical-align:middle;

}
.mainDiv {
    padding-left: 10%;
}

span:after {
    clear:both;
    content:"";
    display:block;
    word-wrap: break-word;
}

.specs {
    list-style-type: circle;
    text-align: left;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 700;
    color: #212529;
    vertical-align: middle;
}

h3 {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
    font-size: 1.2rem;
}

.cameraDiv {
    padding-bottom: 15%;

}

#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 1.2rem;
    
}

.page-section{
    padding: 2rem;
}

.current {
    display:flex;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    padding: 6%;
}

.second{
    padding-top: 15%;
    padding-bottom: 15.5%;
}

.flex-direction{
    flex-direction:row;
}

@media only screen and (max-width: 600px) {
    .flex-direction{
        flex-direction:column;
    }

    .columnCam{
        flex: 100% !important;
        max-width: 100% !important;
        padding: 0 0px !important;
    }

    .hidden{
        display: block;
    }

    .masthead {
        padding-top: 4rem;
    }
}

.bg-primary {
    background-color: #F45B69 !important;
}

a:hover{
    color: #F45B69 !important;
}

.firstDivider{
    background-color: #F45B69 !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.carousel-item{
    width: 100%; /*width you want*/
    height: 750px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columnCam {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
  }
  
.row {
    width: 100%;
    margin: auto;  
  }

  .footer {
  padding: 0 0 1rem 0;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
  
.footer a {
  color: #F45B69;
}

.active a {
    color: #F45B69 !important;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }