.camera {
    width: 30%;
    float: left;
}

.specs {
    list-style-type:none;
    color: #fff;
    text-align: left;
    font-size: 1.2rem;
}


.cameracontainer {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    height:auto;
    min-height:30px;
}

#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 1.2rem;
}

.page-section{
    padding: 2rem;
}

.current {
    display:flex;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    padding: 6%;
}

.second{
    padding-top: 15%;
    padding-bottom: 15.5%;
}

.flex-direction{
    flex-direction:row;
}

@media only screen and (max-width: 600px) {
    .flex-direction{
        flex-direction:column;
    }

    .columnCam{
        flex: 100% !important;
        max-width: 100% !important;
        padding: 0 0px !important;
    }

    .hidden{
        display: block;
    }

    .masthead {
        padding-top: 4rem;
    }
}

.bg-primary {
    background-color: #8b5be3d2 !important;
}

a:hover{
    color: #8b5be3d2 !important;
}

.firstDivider{
    background-color: #8b5be3d2 !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .carousel-item{
    width: 100%; /*width you want*/
    height: 750px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columnCam {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
  }
  
.row {
    width: 100%;
    margin: auto;  
  }

  .thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
    
    /*change the number below to scale to the appropriate size*/ 
    .thumbnail:hover { 
    transform: scale(1.5); 
    }